<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="LUPO_CATS"
            label="COM_LUPO_CATEGORIES"
            description="COM_LUPO_OPTIONS_CATS_DESC"
    >
        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                name="show_diverse"
                id="lupo_show_diverse"
                label="COM_LUPO_OPTIONS_CATS_SHOW_DIV"
                description="COM_LUPO_OPTIONS_CATS_SHOW_DIV_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="cats_nbr_games"
                id="lupo_cats_nbr_games"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                label="COM_LUPO_OPTIONS_CATS_NBR_GAMES"
                description="COM_LUPO_OPTIONS_CATS_NBR_GAMES_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="cats_show_table_with_details"
                id="cats_show_table_with_details"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                label="COM_LUPO_OPTIONS_SHOW_TABLE"
                description="COM_LUPO_OPTIONS_SHOW_TABLE_DESC"
                default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="cats_sort"
                type="list"
                label="COM_LUPO_CATEGORIES_SORT"
                default="0"
        >
            <option value="0">COM_LUPO_CATEGORIES_SORT_ALPHA</option>
            <option value="1">COM_LUPO_CATEGORIES_SORT_LUPO</option>
        </field>
    </fieldset>

    <fieldset
            name="LUPO_CAT"
            label="COM_LUPO_CATEGORY"
            description="COM_LUPO_OPTIONS_CAT_DESC"
    >

        <field
                name="category_list_sort"
                type="list"
                label="COM_LUPO_SORT"
                default="0"
        >
            <option value="0">COM_LUPO_OPTIONS_SORT_ALPHA</option>
            <option value="1">COM_LUPO_OPTIONS_SORT_BUYDATE</option>
        </field>

        <field
                name="new_games_sort"
                type="list"
                label="COM_LUPO_OPTIONS_NEW_GAMES_SORT"
                default="1"
        >
            <option value="0">COM_LUPO_OPTIONS_SORT_ALPHA</option>
            <option value="1">COM_LUPO_OPTIONS_SORT_BUYDATE</option>
        </field>

        <field
                name="nbr_new_games"
                id="lupo_nbr_new_games"
                type="number"
                maxLenght="5"
                size="4"
                label="COM_LUPO_OPTIONS_CATS_NBR_DAYS"
                description="COM_LUPO_OPTIONS_CATS_NBR_DAYS_DESC"
                default="30"
        >
        </field>

        <field name="spacer_kat_1" type="spacer" hr="true"/>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="category_show_tableheader"
                id="category_show_tableheader"
                label="COM_LUPO_OPTIONS_CAT_SHOW_HEADER"
                description="COM_LUPO_OPTIONS_CAT_SHOW_HEADER_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="category_show_detail_link"
                id="category_show_detail_link"
                label="COM_LUPO_OPTIONS_CAT_SHOW_DETAIL_LINK"
                description="COM_LUPO_OPTIONS_CAT_SHOW_DETAIL_LINK_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="spacer_kat_2" type="spacer" hr="true"/>

        <field
                name="foto_list_show"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                default="1"
                label="COM_LUPO_PHOTO"
                description="COM_LUPO_PHOTO_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="foto_list_prefix"
                type="text"
                label="COM_LUPO_PHOTO_PREFIX"
                description="COM_LUPO_OPTIONS_TOY_THUMB_PREFIX_DESC"
                default="mini_"
                showon="foto_list_show:1"
        />

        <field
                name="foto_list_show_placeholder"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                label="COM_LUPO_PHOTO_SHOW_PLACEHOLDER"
                description="COM_LUPO_PHOTO_SHOW_PLACEHOLDER_DESC"
                default="0"
                showon="foto_list_show:1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="spacer_kat_3" type="spacer" hr="true"/>

        <field
                name="foto_list_show_description"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                label="COM_LUPO_NOPHOTO_SHOW_DESCRIPTION"
                description="COM_LUPO_NOPHOTO_SHOW_DESCRIPTION_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="category_show_toy_category"
                id="category_show_toy_category"
                label="COM_LUPO_OPTIONS_TOY_CATEGORY"
                description="COM_LUPO_OPTIONS_TOY_CATEGORY_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="category_show_toy_age_category"
                id="category_show_toy_age_category"
                label="COM_LUPO_OPTIONS_TOY_AGE_CATEGORY"
                description="COM_LUPO_OPTIONS_TOY_AGE_CATEGORY_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="category_show_toy_nbrdays"
                id="category_show_toy_nbrdays"
                label="COM_LUPO_OPTIONS_TOY_NBRDAYS"
                description="COM_LUPO_OPTIONS_TOY_NBRDAYS_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="category_show_tax"
                id="category_show_tax"
                label="COM_LUPO_OPTIONS_CAT_SHOW_TAX"
                description="COM_LUPO_OPTIONS_CAT_SHOW_TAX_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="spacer_kat_4" type="spacer" hr="true"/>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="category_show_category_filter"
                id="category_show_category_filter"
                label="COM_LUPO_OPTIONS_CAT_SHOW_CATEGORY_FILTER"
                description="COM_LUPO_OPTIONS_CAT_SHOW_CATEGORY_FILTER_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="category_show_agecategory_filter"
                id="category_show_agecategory_filter"
                label="COM_LUPO_OPTIONS_CAT_SHOW_AGECATEGORY_FILTER"
                description="COM_LUPO_OPTIONS_CAT_SHOW_AGECATEGORY_FILTER_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="category_show_genre_filter"
                id="category_show_genre_filter"
                label="COM_LUPO_OPTIONS_CAT_SHOW_GENRE_FILTER"
                description="COM_LUPO_OPTIONS_CAT_SHOW_GENRE_FILTER_DESC"
                default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

    </fieldset>

    <fieldset
            name="LUPO_DETAIL"
            label="COM_LUPO_TOY_DETAIL_VIEW"
            description="COM_LUPO_OPTIONS_TOY_DESC"
    >

        <field type="spacer" name="spacer_toy_1" class="text" label="COM_LUPO_OPTIONS_SHOW_FIELDS"/>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_no"
                id="detail_show_toy_no"
                label="COM_LUPO_OPTIONS_TOY_NO"
                description="COM_LUPO_OPTIONS_TOY_NO_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_category"
                id="detail_show_toy_category"
                label="COM_LUPO_OPTIONS_TOY_CATEGORY"
                description="COM_LUPO_OPTIONS_TOY_CATEGORY_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_age_category"
                id="detail_show_toy_age_category"
                label="COM_LUPO_OPTIONS_TOY_AGE_CATEGORY"
                description="COM_LUPO_OPTIONS_TOY_AGE_CATEGORY_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_genres"
                id="detail_show_toy_genres"
                label="COM_LUPO_OPTIONS_TOY_GENRES"
                description="COM_LUPO_OPTIONS_TOY_GENRES_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_play_duration"
                id="detail_show_toy_play_duration"
                label="COM_LUPO_OPTIONS_TOY_PLAY_DURATION"
                description="COM_LUPO_OPTIONS_TOY_PLAY_DURATION_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_players"
                id="detail_show_toy_players"
                label="COM_LUPO_OPTIONS_TOY_PLAYERS"
                description="COM_LUPO_OPTIONS_TOY_PLAYERS_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_fabricator"
                id="detail_show_toy_fabricator"
                label="COM_LUPO_OPTIONS_TOY_FABRICATOR"
                description="COM_LUPO_OPTIONS_TOY_FABRICATOR_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_author"
                id="detail_show_toy_author"
                label="COM_LUPO_OPTIONS_TOY_AUTHOR"
                description="COM_LUPO_OPTIONS_TOY_AUTHOR_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_artist"
                id="detail_show_toy_artist"
                label="COM_LUPO_OPTIONS_TOY_ARTIST"
                description="COM_LUPO_OPTIONS_TOY_ARTIST_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_nbrdays"
                id="detail_show_toy_nbrdays"
                label="COM_LUPO_OPTIONS_TOY_NBRDAYS"
                description="COM_LUPO_OPTIONS_TOY_NBRDAYS_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_nbrtoys"
                id="detail_show_toy_nbrtoys"
                label="COM_LUPO_OPTIONS_TOY_NBRTOYS"
                description="COM_LUPO_OPTIONS_TOY_NBRTOYS_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_tax"
                id="detail_show_toy_tax"
                label="COM_LUPO_OPTIONS_TOY_TAX"
                description="COM_LUPO_OPTIONS_TOY_TAX_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_tax_not_null"
                id="detail_show_toy_tax_not_null"
                label="COM_LUPO_OPTIONS_TOY_TAX_NOT_NULL"
                description="COM_LUPO_OPTIONS_TOY_TAX_NOT_NULL_DESC"
                default="1"
                showon="detail_show_toy_tax:1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_prolongable"
                id="detail_show_toy_prolongable"
                label="COM_LUPO_OPTIONS_TOY_PROLONGABLE"
                description="COM_LUPO_OPTIONS_TOY_PROLONGABLE_DESC"
                default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field type="spacer" name="spacer_toy_2" class="text" label="COM_LUPO_OPTIONS_TOY_PHOTO"/>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_photo"
                id="detail_show_toy_photo"
                label="COM_LUPO_OPTIONS_TOY_SHOW_PHOTO"
                description="COM_LUPO_OPTIONS_TOY_SHOW_PHOTO_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_photo_lightbox"
                id="detail_photo_lightbox"
                label="COM_LUPO_OPTIONS_PHOTO_LIGHTBOX"
                description="COM_LUPO_OPTIONS_PHOTO_LIGHTBOX_DESC"
                default="1"
                showon="detail_show_toy_photo:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field type="spacer" name="spacer_toy_3" class="text" label="COM_LUPO_OPTIONS_TOY_RELATED"/>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_related"
                id="detail_show_toy_related"
                label="COM_LUPO_OPTIONS_TOY_SHOW_RELATED"
                description="COM_LUPO_OPTIONS_TOY_SHOW_RELATED_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field type="spacer" name="spacer_toy_4" class="text strong" label="COM_LUPO_OPTIONS_TOY_NAV_TITLE"/>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_nav"
                id="detail_show_toy_nav"
                label="COM_LUPO_OPTIONS_TOY_NAV"
                description="COM_LUPO_OPTIONS_TOY_NAV_DESC"
                default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>


    <fieldset
            name="LUPO_RESERVATION"
            label="COM_LUPO_OPTIONS_TOY_RESERVATION"
    >

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_res"
                id="detail_show_toy_res"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_BUTTON"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_BUTTON_DESC"
                default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_res_hide_login"
                id="detail_show_toy_res_hide_login"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_HIDE_LOGIN"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_HIDE_LOGIN_DESC"
                default="0"
                showon="detail_show_toy_res:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_toy_res_only_logged_in"
                id="detail_show_toy_res_only_logged_in"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_ONLY_LOGGED_IN"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_ONLY_LOGGED_IN_DESC"
                default="0"
                showon="detail_show_toy_res:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_res_allow_only_loaned"
                id="detail_res_allow_only_loaned"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_ALLOW_ONLY_LOANED"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_ALLOW_ONLY_LOANED_DESC"
                default="0"
                showon="detail_show_toy_res:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_res_phone"
                id="detail_show_res_phone"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_SHOW_RES_PHONE"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_SHOW_RES_PHONE_DESC"
                default="1"
                showon="detail_show_toy_res:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_res_date"
                id="detail_show_res_date"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_SHOW_RES_DATE"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_SHOW_RES_DATE_DESC"
                default="1"
                showon="detail_show_toy_res:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="detail_show_res_date_now"
                id="detail_show_res_date_now"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_SHOW_RES_DATE_NOW"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_SHOW_RES_DATE_NOW_DESC"
                default="1"
                showon="detail_show_toy_res:1[AND]detail_show_res_date:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="text"
                name="detail_toy_res_costs"
                id="detail_toy_res_costs"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_COSTS"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_COSTS_DESC"
                default=""
                filter="safehtml"
                showon="detail_show_toy_res:1"
        >
        </field>

        <field
                type="email"
                name="detail_toy_res_sendfrom"
                id="detail_toy_res_sendfrom"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_SENDFROM"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_SENDFROM_DESC"
                default=""
                showon="detail_show_toy_res:1"
        >
        </field>

        <field
                type="email"
                name="detail_toy_res_sendto"
                id="detail_toy_res_sendto"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_SENDTO"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_SENDTO_DESC"
                default=""
                showon="detail_show_toy_res:1"
        >
        </field>

        <field
                type="text"
                name="detail_toy_res_email_subject"
                id="detail_toy_res_email_subject"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_EMAIL_SUBJECT"
                description="COM_LUPO_OPTIONS_TOY_RESERVATION_EMAIL_SUBJECT_DESC"
                default="Spielreservation %s, %s"
                showon="detail_show_toy_res:1"
        >
        </field>

        <field
                type="textarea"
                name="detail_toy_res_email_body"
                id="detail_toy_res_email_body"
                label="COM_LUPO_OPTIONS_TOY_RESERVATION_EMAIL_BODY"
                description=""
                rows="15"
                cols="40"
                filter="raw"
                default="Liebe Kundin, lieber Kunde\n\nVielen Dank für Ihre Reservation.\n\nSobald das von Ihnen gewünschte Spiel bei uns eingetroffen ist, werden Sie von uns benachrichtigt.\n\nBei Spielen oder Geräten, welche auf ein bestimmtes Datum reserviert werden, melden wir uns nur, wenn es zum gewünschten Zeitpunkt nicht erhältlich sein sollte.\n\nBitte beachten Sie, dass dieses automatische E-Mail gleichzeitig eine Bestätigung darstellt.\n\nFreundliche Grüsse\nIhr Ludotheks-Team\n\n-----------------------------------------------------------"
                showon="detail_show_toy_res:1"
        >
        </field>

    </fieldset>

    <fieldset
            name="LUPO_ONLINESERVICE"
            label="COM_LUPO_ONLINESERVICE"
    >
        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="lupo_show_toystatus"
                id="lupo_show_toystatus"
                label="COM_LUPO_SHOW_TOYSTATUS"
                description="COM_LUPO_SHOW_TOYSTATUS_DESC"
                default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="lupo_show_toystatus_date"
                id="lupo_show_toystatus_date"
                label="COM_LUPO_SHOW_TOYSTATUS_DATE"
                description="COM_LUPO_SHOW_TOYSTATUS_DATE_DESC"
                default="1"
                showon="lupo_show_toystatus:1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="lupo_prolongation_enabled"
                id="lupo_prolongation_enabled"
                label="COM_LUPO_PROLONGATION_ENABLED"
                description="COM_LUPO_PROLONGATION_ENABLED_DESC"
                default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                type="radio"
                layout="joomla.form.field.radio.switcher"
                class="btn-group btn-group-yesno"
                name="lupo_prolongation_valid_abo"
                id="lupo_prolongation_valid_abo"
                label="COM_LUPO_PROLONGATION_VALID_ABO"
                description="COM_LUPO_PROLONGATION_VALID_ABO_DESC"
                showon="lupo_prolongation_enabled:1">
                default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="lupo_websynctoken"
                id="lupo_websynctoken"
                type="text"
                maxLenght="32"
                size="32"
                label="COM_LUPO_OPTIONS_WEBSYNCTOKEN"
                description="COM_LUPO_OPTIONS_WEBSYNCTOKEN_DESC"
                default=""
        >
        </field>


    </fieldset>

    <fieldset
            name="LUPO_INTEGRATION"
            label="COM_LUPO_INTEGRATION"
    >
        <field
                type="list"
                name="lupo_load_uikit_css"
                id="lupo_uikitcss"
                label="COM_LUPO_UIKIT_CSS"
                description="COM_LUPO_UIKIT_CSS_DESCRIPTION"
                default="0">
            <option value="0">JNO</option>
            <option value="uikit.min.css">uikit.min.css</option>
            <option value="uikit.almost-flat.min.css">uikit.almost-flat.min.css</option>
            <option value="uikit.gradient.min.css">uikit.gradient.min.css</option>
        </field>

        <field
                name="lupomenuitem"
                type="menuitem"
                filter="integer"
                label="COM_LUPO_MENUITEM"
                description="COM_LUPO_MENUITEM_DESCRIPTION">
            <option value="0">COM_LUPO_MENUITEM_DESCRIPTION</option>
        </field>
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                validate="rules"
                filter="rules"
                component="com_lupo"
                section="component"
        />
    </fieldset>

</config>

