/* lupo styles */

/* categories view */
ul.lupo_categories {
	list-style-type:none;
	margin:0;
	padding:0;
}

/* category view */
#lupo_category_table {

}

/* detail view */
#lupo_detail_table tr td:last-child {
    font-weight: bold;
}

#lupo_category_table tr td > p {
    margin: 0;
}

#lupo_category_table tr td > p:last-child {
    margin-bottom: 5px;
}

#lupo_category_table tr td img {
    margin-top: 5px;
    margin-bottom: 5px;
}


.lupo_image {

}

.lupo_description {

}

.availability_dot {
    margin-top: 5px;
}

.green {
    color: green;
}

.red {
    color: red;
}


/*fix uikit lightbox background */
.uk-modal-dialog {
    background: none !important;
    box-shadow: none !important;
}

/* uikit modals */
.uk-modal-header {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 4px 4px 0 0;
    margin: -20px -20px 15px;
    padding: 20px;
}

.uk-modal-footer {
    background: #fafafa none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #e5e5e5;
    margin: 15px -20px -20px;
    padding: 20px;
}


/*fix uikit underline */
.uk-icon-hover:hover {
    text-decoration: none;
}

@media (max-width: 400px){
    #lupo_category_table tr td:nth-of-type(2) ~ td, #lupo_category_table tr th:nth-of-type(2) ~ th {
        display: none;
    }
}